/* Crasoul.module.css */

.carouselControlPrevIcon,
.carouselControlNextIcon {
  border-radius: 50%; /* Make it circular */
}
.carousel-control-next,
.carousel-control-prev{
  width: 55px !important;
  background: rgb(128, 128, 129,0.5) !important; /* Change button background */

}

.carouselImage {
  border-radius: 10px; /* Rounded corners for images */
}

.carouselBackground {
  background-color: #63ad97;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 90%;
}

.upperLeftCaption {
  position: absolute;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: xx-large;
  font-family: "Ios15Medium";
  border-radius: 5px;
}
.lowerRightCaption {
  position: absolute;
  bottom: 10%; 
  right: 0%;
  text-align: right;
  color: white;
  font-size: xx-large;
  font-family: "Ios15Medium";
  padding: 0px;
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {
.carouselcaption2{
    font-size: 50%;
  }

  .carouselcaption1{
    font-size: 130%;
  }
}


@media only screen and (min-width: 600px) {
.carouselcaption2{
    font-size: 80%;
  }

  .carouselcaption1{
    font-size: 180%;
  }
}


@media only screen and (min-width: 992px) {
.carouselcaption2{
    font-size: 100%;
  }

  .carouselcaption1{
    font-size: 180%;
  }
}

@media only screen and (min-width: 1200px) {
.carouselcaption2{
    font-size: 120%;
  }

  .carouselcaption1{
    font-size: 200%;
  }
}