
/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
    background-color: #63ad97 !important; 
    font-family: Ios15Medium;
}

.btn:hover {
    background-color: #707877;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.services .services-item-test {
    box-shadow: 0 0 60px rgba(54, 56, 55, 0.2);
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
    background: white;

}


.services-content-test::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    transition: .5s;
    text-align: center;
    background-color: #f4ffe3;
}

.services-content-test::after {
    top: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    background-color:#f4ffe3;
}

.services-item-test:hover .services-content-test::after {
    height: 100%;
    opacity: 1;
    transition: .5s;
    text-align: center;
    background-color: rgb(244, 255, 227);
}

.services-item-test:hover .services-content-test-icon {
    position: relative;
    z-index: 2;
}

.services-item-test .services-content-test-icon i,
.services-item-test .services-content-test-icon p,
.services-item-test .services-content-test-icon HashLink {
    transition: .5s;
}

.services-item-test:hover .services-content-test-icon i {
    color: var(--bs-secondary) !important;
}

.services-item-test:hover .services-content-test-icon a {
    background-color: var(--bs-secondary) !important;
}

.services-item-test:hover .services-content-test-icon p {
    color: var(--bs-white);
}

/*** Services End ***/


/*** Project Start ***/

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--bs-secondary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--bs-primary);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: var(--bs-primary);
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

/*** Project End ***/



.TestHeader {
    text-align: center;
    padding-bottom: 10px;
    font-family: Ios15Medium;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(67, 110, 68, 0.459);
    color: #395350 !important;
}

.TestName {
    font-size: xx-large !important;
    font-family: Ios15Medium;
    color: #707877;
}

.bg-test-homepage {
    background-color:  rgb(200, 225, 196,0.5);
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 2rem;
    transition: all 0.5s ease-in-out;
  }

.bg-test-homepage:hover{
    background-color: rgba(154, 229, 199, 0.3);
    margin-left: 0; 
    margin-right: 0;
    border-radius: 0rem;
}
.g-custom-test{
    gap: 5rem;
}


@media only screen and (max-width: 500px) {
    .bg-test-homepage{
        background-color: rgba(154, 229, 199, 0.3);
        margin-left: 0; 
        margin-right: 0;
        border-radius: 0rem;
    }
    .services-item-test{
        margin-bottom:5px;
    }
    .TestName-icon{
        font-size: 3rem ;
    }
    .btn{
        font-size: 70% !important;
    }
    .TestName{
        font-size: 1.5rem !important;
    }
    .g-custom-test{
        gap: 1rem;
    }
  }

  @media only screen and (min-width: 500px) {
    .services-item-test{
        margin-bottom: 5px;
    }
    .TestName{
        font-size: 1.5rem !important;
    }
    .btn{
        scale: 50%;
        font-size: 60% !important;
    }
    .TestName-icon{
        font-size: 4rem ;
    }
  }
  
  @media only screen and (min-width: 767px) {
    .services-item-test{
        margin-bottom: 5px;
    }
    .TestName{
        font-size: 1.1rem !important;
    }
    .btn{
        scale: 90%;
        font-size: 57% !important;
    }
    .TestName-icon{
        font-size: 4rem ;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .services-item-test{
        margin-bottom: 5px;
    }
    .TestName{
        font-size: 1.7rem !important;
    }
    .btn{
        scale: 90%;
        font-size: 95% !important;
    }
    .TestName-icon{
        font-size: 6rem !important;
    }
  }
