@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');
.glasser-body {
  direction: rtl;
  background: -webkit-linear-gradient(left,#32b889d2, #a0dcdc);
  color: #413f45;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 40px 30px;
  font-family: Ios15Medium;
  height: 95vh;
}

.glasser-header .reduced-height {
  height: 50%; 
  overflow: hidden; 
  transition: height 0.3s ease; 
}

.glasser-quiz-container {
  width: 600px;
  height: 98%;
  max-width: 100%;
  min-height: 300px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 5px;
  padding: 40px 60px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  font-family: Ios15Medium;
}

.glasser-quiz-container .glasser-active-question-no {
  font-size: 30px;
  font-weight: 500;
  color:#76baab;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Ios15Medium;
}

.glasser-quiz-container .glasser-total-question {
  font-size: 18px;
  font-weight: 500;
  color: #959496;
  font-family: Ios15Medium;
}

.glasser-quiz-container h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #636363;
  font-family: Ios15Medium;
}

.glasser-quiz-container ul {
  margin-top: 20px;
  margin-right: -30px; 
  font-family: Ios15Medium;
}

.glasser-quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #47464e;
  font-size: 16px; 
  background: #ffffff;
  border: 1px solid #d6d6d8;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px; 
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 41px;
  text-align: center;
  font-family: Ios15Medium;
}

.glasser-quiz-container ul .glasser-selected-answer {
  background: #bee4cf;
  border: 1px solid #83bfa1;
  font-family: Ios15Medium;
}

.glasser-quiz-container button {
  background: -webkit-linear-gradient(left,#5fb1a0, #8ec0a9, #5fb1a0);

  border-radius: 12px;
  font-size: 18px;
  color: #ffffff;
  padding: 12px 40px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 30px; 
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
  font-family: Ios15Medium;
}

.glasser-quiz-container button:hover {
  background: -webkit-linear-gradient(left, #368776, #4db39d, #368776);

}

.glasser-quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.glasser-flex-right {
  display: flex;
  justify-content: flex-end;
}

.glasser-result h3 {
  font-size: 20px; 
  letter-spacing: 1px; 
  text-align: center;
  font-family: Ios15Medium;
}

.glasser-result p {
  font-size: 16px; 
  font-weight: 500;
  font-family: Ios15Medium;
}

.glasser-result p span {
  color: #59fac2;
  font-size: 25px;
  font-family: Ios15Medium;
}

.glasser-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; 
  font-family: Ios15Medium;
}

.glasser-button-group button {
  flex: 0 0 150px;
  margin: 0 10px;
  font-family: Ios15Medium;
}

.glasser-button-group span {
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Ios15Medium;
}

.glasser-button-group span:hover {
  color: #15B392;
  font-family: Ios15Medium;
}

.custom-swal-container .swal2-popup {
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  font-family: Ios15Medium;
}

.custom-swal-container .swal2-title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  font-size: 24px;
  font-family: Ios15Medium;
}

.custom-swal-container .swal2-content {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  font-size: 18px; 
  font-family: Ios15Medium;
}

.mbti-progress-bar {
  direction: ltr; 
}

.custom-color .progress-bar {
  background-color: #76baab !important;
}
