/* Ensure proper alignment */
.custom-form-input {
    font-family: 'Ios15medium';
    width: 100%;
    border-color: #37401f;
    color: #16641b;
 
    &:hover {
        border-color: #916b48;
    }
 
    &::selection {
        border-color: #489182;
    }
 
    input {
        color: 'white';
    }
 }
 
 /* Message styles */
 .chat-my-message {
    background-color: #249861; /* Your message background */
    color: white;
    text-align: right;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
 }
 
 .chat-other-message {
    background-color: #f4f4f4; /* Other users' message background */
    color: #333;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
 }
 
 /* Flex alignment for message bubbles */
 .message-container {
    display: flex;
    flex-direction: column;
 }
 
 .message-wrapper {
    display: flex;
    justify-content: flex-start; /* Align left for others' messages */
 }
 
 .message-wrapper.user {
    justify-content: flex-end; /* Align right for your messages */
 }
 
 /* Styling for the side chat */
 .customize-chat-side {
    background-color: rgb(25, 135, 84, 0.1);
    border-right: 2px solid #198754;
 }
 
 /* Other elements like the form and buttons */
 .form-control {
    border-color: rgb(201, 200, 200);
 }
 
 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
 }
 
 .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
 }
 